section#about.container
  .row
    article.columns.twelve
      header Adam Trzciński
      p Fascinated with web design, user interface and web animations. Ambitious, focused on realistation of new goals and challenges. Eager to learn new technologies, independent but also aware of importance of team work.
