section#about.container
  article.row
    header.columns.twelve {{ about.who }}
    .row.blob
      figure.columns.four
        img.u-max-full-width(src="./assets/img/adam.png", alt="")
      .columns.eight
        p 
          span Front-end developer. <br/>
          span I'm fascinated with web design, user interface and web animations. Every day I try to learn something new and try new techniques and tools regarding web development.
        p Aside from those - huge fan of Sir Terry's Pratchett novels. Also - I like to play computer and board games and sports. 
    .row.skills
      header.columns.twelve Skill set
      .row
        .columns.four
          hgroup Aquired
          ul
            li(ng-repeat='skill in about.skillset[0].aquired')
              i.material-icons check
              span {{skill}}
        .columns.four
          hgroup Work in progress
          ul
            li(ng-repeat='skill in about.skillset[0].current')
              i.material-icons check_box_outline_blank
              span {{ skill }}
        .columns.four
          hgroup Plans for future
          ul
            li(ng-repeat='skill in about.skillset[0].future')
              i.material-icons check_box_outline_blank
              span {{ skill }}
