section#contact.container
  article
    header Send me a message
    .tyvm(ng-show='contact.mailSent') Thanks! I will responod asap.
    .tyvm(ng-show='contact.sendError') Lol, error occured :(
    form(name='contactForm' ng-submit='contactForm.$valid &&  contact.formSubmit(contact.mail, contactForm)' novalidate, autocomplete="off").row
      .form-previev.six.columns
        blockquote.row
          header.preview Preview:
          .preview-sender.twelve.columns
            i From:  
            span  {{ contact.mail.sender || 'Name, Surname' }} 
          .preview-subject.eight.columns.pull-right
            i @ 
            span {{ contact.mail._replyto || 'mail@mail.com' }}
          .preview-txt.twelve.columns
            i Message:
            q {{ contact.mail.message || 'Your msg...' }}
      .form.six.columns
        .input-group
          input.u-full-width(type="text", ng-model='contact.mail.sender', name='sender', required)#emailSender
          label Name, Surname:
          span.error.u-full-width(ng-show="contactForm.sender.$invalid  && !contactForm.sender.$pristine") Please submit your name.
        .input-group 
          input.u-full-width(type="email", ng-model='contact.mail._replyto', name='_replyto', required)#emailInput
          span.error.u-full-width(ng-show="contactForm._replyto.$invalid  && !contactForm._replyto.$pristine") Please enter valid email.
          label Email:
        .input-group  
          textarea(rows='6',  ng-minlength='10', ng-maxlength='400', ng-model='contact.mail.message', name='msg', required)#emailText.u-full-width
          label Your message:
          span.error.u-full-width(ng-show="contactForm.msg.$error.maxlength && !contactForm.msg.$pristine") Your message is too long.
          span.error.u-full-width(ng-show="contactForm.msg.$error.minlength && !contactForm.msg.$pristine") Your message is too short.
        button(type='submit', ng-disabled='contactForm.$invalid').u-pull-right Send
    aside
      header.aside-header Learn more about me:
      span(ng-repeat='social in contact.socials')
        a(title='{{social.title}}', ng-href='{{social.url}}', target='_blank')
          i.fa.fa-2x.fa-fw(ng-class='social.icon')
        
      
    
