section#contact.container
  article
    header Send me a message
    .tyvm(ng-show='contact.mailSent') Thanks! I will responod to your message asap.
    form(name='contactForm' ng-submit='contactForm.$valid &&  contact.formSubmit(contact.mail, contactForm)' novalidate, autocomplete="off" action='https://formspree.io/trzcinski.adam@gmail.com' method="POST").row
      .form-previev.six.columns
        blockquote.row
          header.preview Preview:
          .preview-sender.twelve.columns
            i From:  
            span  {{ contact.mail.sender || 'Name, Surname' }} 
          .preview-subject.eight.columns.pull-right
            i @ 
            span {{ contact.mail.email || 'mail@mail.com' }}
          .preview-txt.twelve.columns
            i Message:
            q {{ contact.mail.message || 'Your msg...' }}
      .form.six.columns
        .input-group
          input.u-full-width(type="text", ng-model='contact.mail.sender', data-ng-pattern="/^[a-zA-Z ]*$/", name = 'sender', required)#emailSender
          label Name, Surname:
          span.error.u-full-width(ng-show="contactForm.sender.$invalid  && !contactForm.sender.$pristine") No digits or special characters allowed.
        .input-group 
          input.u-full-width(type="email", ng-model='contact.mail.email',name='email' required)#emailInput
          span.error.u-full-width(ng-show="contactForm.email.$invalid  && !contactForm.email.$pristine") Please enter valid email.
          label Email:
        .input-group  
          textarea(rows='6',  ng-minlength='10', ng-maxlength='400', ng-model='contact.mail.message',name='msg' required)#emailText.u-full-width
          label Your message:
          span.error.u-full-width(ng-show="contactForm.msg.$error.maxlength && !contactForm.msg.$pristine") Your message is too long.
          span.error.u-full-width(ng-show="contactForm.msg.$error.minlength && !contactForm.msg.$pristine") Your message is too short.
        button(type='submit' ng-disabled='contactForm.$invalid').u-pull-right Send
    aside
      header.aside-header Learn more about me:
      span(ng-repeat='social in contact.socials')
        a(title='{{social.title}}', ng-href='{{social.url}}', target='_blank')
          i.fa.fa-2x.fa-fw(ng-class='social.icon')
        
      
    
