header.slideInUp {{image.title}} 
.tasks.slideInUp.slideInUp2
  //- .list-heading Tasks:
  ul
    li(ng-repeat='task in image.tasks')
      i.material-icons  {{portfolio.iconClass(task)}} 
      span {{task}}
.img-wrapper.slideInUp.slideInUp3
  img(ng-src='{{image.url}}').u-max-full-width
  aside
    a(href='https://github.com/adamTrz/{{image.gitLink}}', title='Wiev code repo on github.' target='_blank')
      i.fa.fa-github
    a(href='http://adamtrz.github.io{{image.wwwLink}}', title='Watch online.' target='_blank')
      i.fa.fa-globe
footer.slideInUp.slideInUp4
  .list-heading Made with:
  ul.techs
    li(ng-repeat='tech in image.techs')
      //- img(ng-src="./assets/img/icons/{{tech}}.svg", alt="{{tech}}", title="{{tech}}")
      img.logo(ng-src="./assets/img/icons/{{tech}}",alt="{{tech | noDots}}", title="{{tech | noDots}}", ng-class="tech")
      p {{tech | noDots}}
