section#portfolio(ng-show='main.sectionSelected(1)').container
  article(ng-controller='portfolioCtrl as portfolio')
    .row
      .item(ng-repeat='image in portfolio.gallery', ng-class='image.size')
        .img-wrapper
          img(ng-src='{%raw%}{{image.url}}{%endraw%}')
        span {%raw%}{{image.blob}}{%endraw%}
        .links
          a(href='{%raw%}{{image.gitLink}}{%endraw%}', title='Wiev code repo on github.' target='_blank')
            i.fa.fa-github-square
          a(href='{%raw%}{{image.wwwLink}}{%endraw%}', title='Watch online.' target='_blank')
            i.fa.fa-globe
