.view-animation
.ng-enter
	// +position(absolute, 0 0 0 0)
	animation: incoming 1s both ease
	transform-origin: right
	z-index: 8888 !important
	overflow: hidden
.ng-leave
	+position(absolute, 0 0 0 0)
	transform-origin: left
	animation: outgoing 1s both ease
	z-index: 9999 !important
	overflow: hidden

@keyframes incoming
	0%
		opacity: 0
		transform: scaleX(0)
	80%
		opacity: 1
		transform: scaleX(100%)
  100%
@keyframes outgoing
	to
		opacity: 0
		transform: scaleX(0)

// SCROLL MAGIC ANIMATIONS
article
	overflow-y: hidden
	.slideInUp
		visibility: hidden
		opacity: 0
		transform: translate3d(0,100px,0)
		transition: all .7s cubic-bezier(.17, .67, .83, .67)
	&.is-active
		.slideInUp
			visibility: visible
			opacity: 1
			transform: translate3d(0,0,0)
		.slideInUp.slideInUp2
			transition-delay: .3s
		.slideInUp.slideInUp3
			transition-delay: .5s
		.slideInUp.slideInUp4
			transition-delay: .7s
