$primary-color: #2E2D33
$text-color: #212121
$accent-color: #616161

$brand-color: #325361
$secondary-color: tint($brand-color, 20%)


$bg-color: #F5F5F5

$link-color: $accent-color
$selection-color: tint($brand-color, 60%)


$std-transition: all .3s ease

$desktop: 1000px
$phablet: 600px
$mobile: 550px
