
<nav ng-controller="navCtrl as nav" ng-class="{slideAnchors: nav.showMenu}">
  <div id="logo">adam<span>Trz</span></div><a href="#portfolio" ng-click="main.setSection(1)" ng-class="{active: main.sectionSelected(1)}">portfolio</a><a href="#about" ng-click="main.setSection(2)" ng-class="{active: main.sectionSelected(2)}">about</a><a href="#contact" ng-click="main.setSection(3)" ng-class="{active: main.sectionSelected(3)}">contact</a>
  <div ng-click="nav.showAnchors()" class="sub-nav">
    <div id="hamburger" ng-class="{active: nav.showMenu}"><span></span></div>
  </div>
</nav>