
<section id="portfolio" ng-show="main.sectionSelected(1)" class="container">
  <article ng-controller="portfolioCtrl as portfolio">
    <figure ng-repeat="image in portfolio.gallery"><img ng-src="{%raw%}{{image.url}}{%endraw%}"/>
      <figcaption>{%raw%}{{image.blob}}{%endraw%}</figcaption>
      <div class="links"><a href="{%raw%}{{image.gitLink}}{%endraw%}" title="Wiev code repo on github." target="_blank"><i class="fa fa-github-square"></i></a><a href="{%raw%}{{image.wwwLink}}{%endraw%}" title="Watch online." target="_blank"><i class="fa fa-globe"></i></a></div>
    </figure>
  </article>
</section>