section#about.container
  article.row
    padding-top: 100px
    padding-bottom: 50px
    header.columns.twelve
      @extend %header_txt
    .row.blob
      figure.columns.four
        margin: 0
        img.u-max-full-width
      .columns.eight
        p
          font:
            size: 1em
            weight: 300
          text-indent: 2em
          text-align: justify
          // text-decoration: line-through

    .row.skills
      padding-bottom: 2em
      header.columns.twelve
        font-size: 1.6em
      .row
        .columns.four
          hgroup
            margin-bottom: 1em
            text-transform: uppercase
            font-size: 0.8em
          ul
            list-style: none
            margin: 0
            padding: 0
            padding-left: 1em
            font-size: 0.8em
            li
              i.material-icons
                font-size: 2rem
                color: $brand-color
                vertical-align: text-bottom
                padding-right: 0.5em
              span
                font-size: 1em
                font-weight: 300

@media (max-width: $mobile)
  section#about.container
    article.row
      header.columns.twelve
      .row.blob
        .columns.eight
          padding-top: 20px

      .row.skills
        header.columns.twelve
        .row
          .columns.four
            hgroup
              margin-top: 1em
              margin-bottom: .6em
            ul
              // padding-left: 20%
              display: flex
              flex-flow: row wrap
              justify-content: space-between
              li
                width: 50%
