section#portfolio
  .row
    article
      height: 100vh
      display: flex
      flex-flow: column nowrap
      justify-content: space-around
      padding-top: 50px
      header
        text-align: center
        font-size: 2em
        font-weight: 300
      ul.tasks
        font-size: .8em
        margin: 0
        list-style: none
        display: flex
        flex-flow: row nowrap
        justify-content: space-around
        li
          margin: 0
          display: flex
          i
            padding-right: 5px
            color: $brand-color
            text-shadow: 2px 2px 4px $accent-color
          span
            margin: 0
            text-transform: uppercase

      .img-wrapper
        background-color: white
        box-shadow: 2px 2px 4px $accent-color
        max-height: 50%
        height: 50%
        margin: 0 1%
        // padding: 8px
        overflow: hidden
        transition: all .3s ease
        position: relative
        &:hover
          box-shadow: 4px 4px 6px $accent-color
        img
          display: block
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
      aside
        ul.techs
          list-style: none
          margin: 0
          display: flex
          flex-flow: row wrap
          justify-content: space-around
          align-items: center
          li
            margin: 0
            img

      footer
        text-align: right
        a
          padding: 5px 10px
          color: $brand-color
          i.fa
            text-shadow: 2px 2px 2px $accent-color
            transition: all .3s ease
            &:hover
              text-shadow: 4px 4px 6px $accent-color
          .fa-github-square
          .fa-globe
