section#portfolio
  article
    display: flex
    flex-flow: row wrap
    justify-content: center
    figure
      position: relative
      margin: 2px
      img
        display: block
      figcaption
        position: absolute
        top: 0
      .links
        position: absolute
        bottom: 0
        right: 0
        .fa
          padding: 10px
