
<header class="slideInUp">{{image.title}} </header>
<div class="tasks slideInUp slideInUp2">
  <ul>
    <li ng-repeat="task in image.tasks"><i class="material-icons"> {{portfolio.iconClass(task)}} </i><span>{{task}}</span></li>
  </ul>
</div>
<div class="img-wrapper slideInUp slideInUp3"><img ng-src="{{image.url}}" class="u-max-full-width"/>
  <aside><a href="{{image.gitLink}}" title="Wiev code repo on github." target="_blank"><i class="fa fa-github"></i></a><a href="{{image.wwwLink}}" title="Watch online." target="_blank"><i class="fa fa-globe"></i></a></aside>
</div>
<footer class="slideInUp slideInUp4">
  <div class="list-heading">Made with:</div>
  <ul class="techs">
    <li ng-repeat="tech in image.techs"><img ng-src="./assets/img/icons/{{tech}}" alt="{{tech | noDots}}" title="{{tech | noDots}}" ng-class="tech" class="logo"/>
      <p>{{tech | noDots}}</p>
    </li>
  </ul>
</footer>